.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ede7ad; /* Cor de fundo principal */
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 24px;
  color: #07332b; /* Verde escuro */
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #07332b; /* Verde escuro no botão */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #212121; /* Cinza escuro no hover */
}

.login-links {
  margin-top: 20px;
  font-size: 14px;
  color: #07332b;
}

.login-links a {
  color: #07332b; /* Verde escuro nos links */
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-links a:hover {
  color: #212121; /* Cinza escuro no hover dos links */
}
