.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ede7ad !important;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box; /* Adicione esta linha */
}
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #07332b !important;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #0056b3;
  }
  
  .header-right {
    display: flex;
    gap: 10px;
  }
  
  .login-btn, .download-btn {
    background-color: #07332b !important;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #009bdf;
  }
  
  .download-btn {
    background-color: #00e0ff;
  }
  
  .download-btn:hover {
    background-color: #00b2ff;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: flex-start; /* Para alinhar os elementos à esquerda */
      padding: 10px;
    }
  
    .nav-links {
      margin-top: 10px;
      gap: 10px;
      justify-content: center;
      width: 100%;
    }
  
    .nav-links a {
      font-size: 12px;
    }
  
    .login-btn, .download-btn {
      font-size: 12px;
      padding: 6px 10px;
    }
  }
  
  @media (max-width: 480px) {
    .header-container {
      align-items: center; /* Centraliza o conteúdo para telas muito pequenas */
    }
  
    .nav-links {
      flex-wrap: wrap;
      gap: 5px;
    }
  
    .login-btn, .download-btn {
      width: 100%; /* Os botões ficam no centro e ocupam a largura total */
      text-align: center;
      padding: 10px;
    }
  
    .logo {
      height: 40px; /* Logo menor para telas menores */
    }
  }
  